In [13]:
import pandas as pd

# Open the climate TAWES stations
curr = pd.read_csv('C:\\Users\\sh16450\\OneDrive - University of Bristol\\Documents\\GitHub\\openweatherviz\\folium\\current_csv\\2024-11-01_21-30-00-00_tawes_current_10min.csv')
# Open the current TAWES readings
klima = pd.read_csv('C:\\Users\\sh16450\\OneDrive - University of Bristol\\Documents\\GitHub\\openweatherviz\\folium\\20241101-212000_10min_TAWES.csv')

# Open the station info for the current data and merge
curr_station_info = pd.read_csv('C:\\Users\\sh16450\\OneDrive - University of Bristol\\Documents\\GitHub\\openweatherviz\\folium\\current_csv\\'
                                + 'corrected_station_info_current_tawes.csv').rename(columns={'id':'station'})
merged_curr = pd.merge(curr, curr_station_info, on='station')

# Open the station info for the climate data and merge
station_data = pd.read_csv('C:\\Users\\sh16450\\OneDrive - University of Bristol\\Documents\\GitHub\\openweatherviz\\folium\\station_info_new.csv').rename(columns={'id':'station'})
merged_data = pd.merge(klima, station_data, on='station')

# Rename current data so it fits with the climate data
new_curr = merged_curr.rename(columns={'TL':'tl', 'TP':'tp', 'TLMAX':'tlmax', 'TLMIN':'tlmin', 
                                       'TS':'ts','FF':'ff', 'FFX':'ffx','DD':'dd', 'DDX': 'ddx', 'GLOW':'cglo',
                                       'P':'p', 'RF':'rf', 'RR':'rr', 'SCHNEE':'sh', 'SO':'so'})

new_curr = new_curr.drop(['tp', 'PRED', 'RRM', 'ff'], axis=1)

# Merge climate and current data
combined = pd.concat([merged_data, new_curr])
combined.to_csv('merged_data.csv')

In [ ]:
# Drop rows that have too man NANs, then drop duplicates based on a subset of values, and then sort the values by name and time
extract = combined.dropna(thresh=combined.shape[1]-4, axis=0).drop_duplicates(subset=['tl', 'tlmax', 'rf', 'dd']).sort_values(by=['name', 'time'])
extract
extract.loc[extract.name == 'Melk']

,time,station,tl,tlmax,rf,dd,ddx,ffx,cglo,rr,...,name,state,lat,lon,altitude,valid_from,valid_to,has_sunshine,has_global_radiation,is_active
169,2024-10-31T21:20+00:00,189,7.9,8.6,100.0,264.0,267.0,1.9,0.0,NaN,...,Melk,Niederösterreich,48.209720,15.331390,307.0,2008-09-25T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True
688,2024-10-31T21:30+00:00,189,8.5,8.5,100.0,227.0,233.0,1.2,0.0,NaN,...,Melk,Niederösterreich,48.209720,15.331390,307.0,2008-09-25T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True
1207,2024-10-31T21:40+00:00,189,8.5,8.7,100.0,223.0,225.0,0.7,0.0,NaN,...,Melk,Niederösterreich,48.209720,15.331390,307.0,2008-09-25T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True
1726,2024-10-31T21:50+00:00,189,8.2,8.5,100.0,234.0,223.0,0.8,0.0,NaN,...,Melk,Niederösterreich,48.209720,15.331390,307.0,2008-09-25T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True
2245,2024-10-31T22:00+00:00,189,8.3,8.3,100.0,237.0,225.0,1.2,0.0,NaN,...,Melk,Niederösterreich,48.209720,15.331390,307.0,2008-09-25T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73348,2024-11-01T20:50+00:00,189,9.8,9.8,87.0,252.0,259.0,7.6,0.0,NaN,...,Melk,Niederösterreich,48.209720,15.331390,307.0,2008-09-25T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True
73867,2024-11-01T21:00+00:00,189,10.1,10.1,87.0,242.0,225.0,9.8,0.0,NaN,...,Melk,Niederösterreich,48.209720,15.331390,307.0,2008-09-25T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True
74386,2024-11-01T21:10+00:00,189,10.1,10.1,87.0,241.0,247.0,9.2,0.0,NaN,...,Melk,Niederösterreich,48.209720,15.331390,307.0,2008-09-25T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True
74905,2024-11-01T21:20+00:00,189,10.1,10.2,87.0,233.0,226.0,9.7,0.0,NaN,...,Melk,Niederösterreich,48.209720,15.331390,307.0,2008-09-25T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True
32,2024-11-01T21:30+00:00,11054,10.2,10.3,87.0,233.0,225.0,9.9,0.0,NaN,...,Melk,Niederösterreich,48.209722,15.331389,307.0,2008-06-20T00:00+00:00,2025-11-01T21:38+00:00,False,False,True

List curr is: Index(['time', 'station', 'tl', 'tp', 'tlmax', 'tlmin', 'ts', 'ff', 'ffx',
       'DD', 'ddx', 'cglo', 'p', 'rf', 'PRED', 'rr', 'RRM', 'sh', 'so',
       'Unnamed: 0', 'type', 'group_id', 'name', 'state', 'lat', 'lon',
       'altitude', 'valid_from', 'valid_to', 'has_sunshine',
       'has_global_radiation', 'is_active'],
      dtype='object') List klima is: Index(['time', 'station', 'tl', 'tlmax', 'rf', 'dd', 'ddx', 'ffx', 'cglo',
       'rr', 'p', 'sh', 'so', 'tlmin', 'ts', 'substation', 'Unnamed: 0',
       'type', 'group_id', 'name', 'state', 'lat', 'lon', 'altitude',
       'valid_from', 'valid_to', 'has_sunshine', 'has_global_radiation',
       'is_active'],
      dtype='object')

In [7]:
combined

,time,station,tl,tlmax,rf,dd,ddx,ffx,cglo,rr,...,valid_from,valid_to,has_sunshine,has_global_radiation,is_active,tp,ff,DD,PRED,RRM
0,2024-10-31T21:20+00:00,1,7.3,7.3,95.0,66.0,66.0,0.8,0.0,0.0,...,1983-05-01T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True,NaN,NaN,NaN,NaN,NaN
1,2024-10-31T21:20+00:00,2,3.9,4.0,99.0,28.0,46.0,1.0,0.0,0.0,...,1993-02-01T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True,NaN,NaN,NaN,NaN,NaN
2,2024-10-31T21:20+00:00,3,6.9,7.3,97.0,228.0,218.0,4.1,0.0,0.0,...,1992-10-01T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True,NaN,NaN,NaN,NaN,NaN
3,2024-10-31T21:20+00:00,4,11.7,11.8,88.0,264.0,255.0,2.0,0.0,0.0,...,1993-02-01T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,True,True,NaN,NaN,NaN,NaN,NaN
4,2024-10-31T21:20+00:00,5,6.6,6.6,96.0,0.0,7.0,0.4,NaN,0.0,...,1983-09-01T00:00:00+00:00,2100-12-31T00:00:00+00:00,True,False,True,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,2024-11-01T21:30+00:00,8989104,NaN,NaN,NaN,NaN,329.0,2.0,0.0,0.0,...,2022-11-14T00:00+00:00,2025-11-01T21:38+00:00,False,False,True,NaN,0.9,322.0,NaN,0.0
266,2024-11-01T21:30+00:00,8989106,-1.7,-1.2,100.0,NaN,NaN,NaN,NaN,NaN,...,2023-03-30T00:00+00:00,2025-11-01T21:38+00:00,False,False,True,-1.9,NaN,NaN,NaN,NaN
267,2024-11-01T21:30+00:00,8989113,0.9,1.0,99.0,NaN,107.0,0.3,NaN,0.0,...,2023-10-16T00:00+00:00,2025-11-01T21:38+00:00,False,False,True,0.6,0.0,0.0,NaN,0.0
268,2024-11-01T21:30+00:00,8989114,8.3,9.3,90.0,NaN,111.0,2.8,NaN,0.0,...,2024-03-04T00:00+00:00,2025-11-01T21:38+00:00,False,False,True,6.6,1.5,139.0,NaN,0.0
269,2024-11-01T21:30+00:00,8989117,8.2,8.5,90.0,NaN,269.0,1.1,NaN,0.0,...,2024-04-29T00:00+00:00,2025-11-01T21:38+00:00,False,False,True,6.7,0.5,274.0,NaN,NaN